@page "/PostListBody"
@inject Api Api
@inject NavigationManager NavigationManager
@if (_posts != null)
{
    <div class="main">
        <div class="post-wrap archive">
            @foreach (var x in _posts)
            {
                <article class="archive-item">
                    <a class="archive-item-link" href="/Posts/@x.Id">@x.Title</a>
                    
                    <span class="archive-item-date">@x.CreationTime</span>
                </article>
            }
        </div>
        <nav class="pagination">
            @for (var i = 1; i <= _totalPages; ++i)
            {
                if (PageIndex == i)
                {
                    <span class="page-number current">@i</span>
                }
                else
                {
                    <a class="page-number"  href="@BuildLink(i)" >@i</a>
                 
                }
            }
        </nav>
    </div>
}

@code {

    [Parameter]
    public int PageIndex { get; set; }
    int _totalPages;

    IEnumerable<Post>
    _posts;

    protected override async Task OnParametersSetAsync()
    {
        var result = await Api.GetPostListAsync(PageIndex);
        _posts = result.Data;
        _totalPages = result.TotalPage;
        PageIndex= PageIndex == 0 ? PageIndex = 1 : PageIndex;
    }

    protected override async Task OnInitializedAsync()
    {
      
        await OnParametersSetAsync();
    }

    private string BuildLink(int pageIndex)
    {
        string link = string.Empty;
        if (pageIndex > 0)
        {
            link = $"/Posts/{pageIndex}";
        }
        return link;
    }



}